<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.todo.mapper.TodoMapper">

	 <!-- resultMapの定義 -->
    <resultMap id="todoResultMap" type="com.example.todo.entity.Todo">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="done_flg" column="done_flg" />
        <result property="time_limit" column="time_limit" typeHandler="com.example.todo.LocalDateTypeHandler"/>
    </resultMap>

    <select id="selectAll" resultMap="todoResultMap">
        SELECT * FROM todo_items
    </select>
    
    <select id="selectIncomplete" resultMap="todoResultMap">
    	SELECT * FROM todo_items WHERE done_flg = 0 ORDER BY time_limit ASC
    </select>
    
    <select id="selectComplete" resultMap="todoResultMap">
    	SELECT * FROM todo_items WHERE done_flg = 1 ORDER BY time_limit ASC
    </select>
	
	<insert id="add" parameterType="com.example.todo.entity.Todo">
		INSERT INTO todo_items (title, time_limit)
		VALUES (#{title}, #{time_limit})
	</insert>
	
	<update id="update" parameterType="com.example.todo.entity.Todo">
		UPDATE todo_items 
		SET title = #{title}, time_limit = #{time_limit}, done_flg = #{done_flg}
		WHERE id = #{id}
	</update>
	
	<delete id="delete" parameterType="com.example.todo.entity.Todo">
		DELETE FROM todo_items WHERE done_flg = 1
	</delete>
	
</mapper>